{% extends "layout.html.twig" %}

{% block body %}






    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 15px; ">

            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informations sur les UVs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Informations pratiques</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent" style="min-height: 800px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="height: 400px;">

                <div class="list-group">
                    <form class="form-inline my-2 my-lg-0" method="get" action="{{ path('uv_search') }}" >
                        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" aria-label="Code" style=" margin: 10px; float: right;">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  style="float: right;">Rechercher</button>
                    </form>
                    {% if is_granted(expression('"ROLE_ADMIN" in roles ')) %}
                        <a href="/contribution/adduv"><button type="button" class="btn btn-primary">Ajouter un UV</button></a>
                    {% endif %}

                    <div class="row">
                        {% for course in courses %}

                            <div class="col-sm-4"style="margin-top: 10px;margin-bottom: 10px;">
                                 <div class="card">
                                      <div class="card-body">
                                           <h5 class="card-title">{{ course.code }} : {{ course.titre }}</h5>
                                           <p class="card-text"{{ course.description|truncate(55)|raw }}</p>
                                          <div class="row">
                                              <a href="/uv/details?id={{ course.id }}" class="btn btn-primary">Plus de détails</a>

                                              {% if is_granted(expression('"ROLE_ADMIN" in roles ')) %}
                                                  <a href="/uv/mod?id={{ course.id }}" class="btn btn-warning">modifier</a>
                                                  <a href="/uv/delete?id={{ course.id }}" class="btn btn-danger">suppr</a>
                                              {% endif %}

                                          </div>

                                      </div>
                                 </div>
                            </div>
                        {% endfor %}
                        {% if courses is empty %}
                            <div class="alert-primary">
                                Aucun cours trouvé!
                            </div>
                        {% endif %}
                    </div>
                    <!-- Pagination -->
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- informations pratique -->

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="height: 400px;">informations pratiques

            <form class="form-inline my-2 my-lg-0" method="get" action="{{ path('pratical_search') }}" >
                <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" aria-label="Code" style=" margin: 10px; float: right;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  style="float: right;">Rechercher</button>
            </form>
            {% if is_granted(expression('"ROLE_ADMIN" in roles ')) %}
                <a href="/contribution/addpratical"><button type="button" class="btn btn-primary">Ajouter un nouveau</button></a>
            {% endif %}



                {% if praticals is not empty %}
                    {% for pratical in praticals %}
                        {% if loop.first %}
                            {% for key in pratical %}
                             <div class="row">
                                    <div class="col-sm-8"style="margin-top: 10px;margin-bottom: 10px;">
                                        <div class="card">
                                            <div class="card-body">

                                                <p>{{ key.content|raw }}</p>
                                                <div class="row">
                                                    {% if is_granted(expression('"ROLE_ADMIN" in roles ')) %}
                                                        <a href="/page/mod?id={{ key.id }}" class="btn btn-warning">modifier</a>
                                                        <a href="/page/delete?id={{ key.id }}" class="btn btn-danger">suppr</a>
                                                    {% endif %}

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                             </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if praticals is empty %}
                    <div class="alert-primary">
                        Aucune pratique trouvée!
                    </div>
                {% endif %}

            <!-- Pagination -->
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
         </div>

    </div>
{% endblock %}