<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Mouvement des Etudiants Africains et Sympathisants">
  <meta name="ptchepga" content="">

  <title>Metas</title>

    {% block stylesheets %}
      <!-- Bootstrap core CSS -->
      <link href={{ asset('static/bootstrap/css/bootstrap.min.css') }} rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href={{ asset('static/portfolio-item.css') }} rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="container">

  {% if pratical is defined %}
  <form class="col-7" action="{{ path('add_mod_customer') }}" method="post"  style="box-shadow: 0px 0px 20px black; padding: 15px; ">

    <div class="form-group">
      <label for="title">Contenu de l'information pratique</label>
      <textarea  name="_description" placeholder="Décrire l'information pratique"   id="editor" >{{ pratical.content }}</textarea>
    </div>
    <input type="text" style="display: none;" class="form-control" id="id"  value="{{ pratical.id }}" name="id" >
    <button type="submit" class="btn btn-primary">Enregistrer </button>
  </form>
  {% else %}
  <form class="col-7" action="{{ path('add_check_customer') }}" method="post" style="box-shadow: 0px 0px 20px black; padding: 15px;" >

    <div class="form-group">
    <label for="title"><h3>Contenu de l'information pratique</h3></label>
       <input type="text" name="idcategory" value="1" style="display: none;">
      <textarea id="editor" name="_description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
  {% endif %}
</div>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
</body>
</html>

